.videoFooter {
  position: relative;
  margin-left: 20px;
  bottom: 100px;
  /* background-color: rgba(255, 0, 0, 0.39); */
}

.videoFooter__text {
  position: absolute;
  bottom: 0;
  color: white;
  display: flex;
  margin-bottom: 27px;
}

.bottomRowContainer {
  margin-top: -1px;
  /* background-color: red; */
  height: 20px;
  margin-bottom: 10px;
  display: flex;
}

.videoFooter__text > h3 {
  margin-left: 10px;
  padding-bottom: 1px;
  padding-top: 7px;
}

.videoFooter__text > h3 > button {
  color: white;
  font-weight: 900;
  text-transform: inherit;
}

.musicNoteContainer {
  /* background-color: red; */
  height: 40px;
  color: white;
  width: 5%;
  /* margin-left: 30px; */
  /* padding: 30px; */
  /* overflow: hidden; */
  /* margin-bottom: 20px; */
}

.musicNote {
  /* color: rgb(255, 255, 255); */
  /* padding-top: 45px; */
}

.videoFooter__ticker > .ticker {
  /* background-color: red;
  height: 60px;
  width: 600px;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 60%;
  color: white;
   */
}

@keyframes ticker {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.tickerContainer {
  /* background-color: red; */
  height: 40px;
  color: white;
  width: 60%;
  margin-left: 30px;
  /* padding: 30px; */
  overflow: hidden;
  /* margin-bottom: 20px; */
}

.videoFooter__actions {
  display: flex;
  position: absolute;
  width: 95%;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.855);
}
.videoFooter__actionsLeft > .MuiSvgIcon-root {
  padding: 0 10px;
  /* align-items: center; */
}

.videoFooter__actionsRight {
  display: flex;
}
.videoFooter__stat {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.videoFooter__stat > p {
  margin-left: 3px;
  color: white;
}

.ticker {
  white-space: nowrap;
  /* background-color: blue; */
  display: inline-block;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 6800ms;
  
}

.videoFooter__icon {
  color: rgb(255, 255, 255);
  margin-top: 1px;
}
.ticker h1 {
  font-size: 12px;
  color: white;
  margin-top: 1px;
}
